doctype html
head
	link(href='css/style.min.css')
header
	h1.header__title Notify
	p.header__text A great new free psd theme to showcase 
	|
	br
	| your new application. 
	p
		span
		span
		span
section.features
	.features__


