
mixin menu
		ul.navbar-nav
			each item in menu
				li.nav-item: a.nav-link(href='#'+item)= item

mixin pButtons
	each item in portfolioButtons
		button= item

mixin pImages
	each item in portfolioImages
		div(class='col-6 col-md-3 filter-item')
			img(src='img/'+item alt='')



mixin people
	each item in ourPeople
		.col-md-3.col-sm-12.person
			img(class='img-fluid' src='img/'+item.image)
			h4.person-name= item.name
			h5.person-position= item.position
			p.text-left= item.text