//- doctype html
//- html(lang='en')
//- 		head
//- 			meta(charset='UTF-8')
//- 			meta(http-equiv='X-UA-Compatible', content="IE=edge")
//- 			meta(name='viewport' content='width=device-width')
//- 			link(rel="stylesheet" href="css/main.min.css")
//- 			title wood
		//- body
		//- 	include ../mixins/_mixins.pug
		//- 	block header
		//- 		header
		//- 		include ../includes/_header.pug
		//- 		include ../includes/_wood.pug					
		//- 	block main
		//- 		main
					
		//- 	block ecologistsSays
		//- 		include ../includes/_ecologistsSays.pug

		//- 	block callToActionFooter
		//- 		include ../includes/_callToActionFooter.pug

		//- 	block contacts
		//- 		include ../includes/_contacts.pug
			
		//- 	block footer
		//- 		include ../includes/_footer.pug
		
